@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700;900&family=JetBrains+Mono:wght@400;700&display=swap');

@theme {
  --font-sans: "Cairo", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

:root {
  --red-netflix: #e50914;
  --red-hover: #b20710;
  --bg-dark: #080808;
}

body {
  background-color: var(--bg-dark);
  color: #e5e5e5;
  font-family: var(--font-sans);
  direction: rtl;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #111;
}
::-webkit-scrollbar-thumb {
  background: var(--red-netflix);
  border-radius: 10px;
}

.netflix-shadow {
  box-shadow: 0 0 20px rgba(229, 9, 20, 0.2);
}

.glass-card {
  background: rgba(20, 20, 20, 0.8);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}
